
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.tabs_style{
    color: white;
    background: rgb(119, 119, 119)
  }

  .tabs_style:active {
    color: rgb(255, 255, 255);
    background: rgb(73, 73, 73)
  }

  .tabs_style:hover {
    color: rgb(0, 217, 255)
  }

  .tabs_style:focus{
    color: rgb(0, 217, 255)
  }
